
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    flex-grow: 1;
}   

.corners {
    display: flex; 
    align-items: center;
    gap: 2rem;        
    gap: 10rem;
    padding: 100px;
    width: 100%;
    max-width: 1400px;
    height: 756px;
    background-color: #FAF9F6;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    box-sizing: border-box;
}

.centered {
    background-color: #4DB6AC;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: auto;
}

.centered-add-transaction {
    background-color: #FF6F61;
    width: 100%;
    max-width: 1077px;
    height: auto;
    border-radius: 8px;
    display: flex;
    padding: auto;
  }

.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Logo label {
    font-family: Sora;
    font-size: 64px;
    color: #1C1C1E;
}

.Form-container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group input {
    padding: 10px;
    width: 30rem ;
    font-size: 1rem;
    border-radius: 8px;
    border: 0px solid #ccc;
    outline: none;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    
}

.form-group1 input {
    padding: 10px;
    width: 30rem ;
    font-size: 1rem;
    border-radius: 8px;
    border: 0px solid #ccc;
    outline: none;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    
}

.form-group1 input {
    padding: 10px;
    width: 38rem ;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    
}

.form-group input::placeholder{
    color: #0A1C14;
}

.form-group1 input::placeholder{
    color: #BABABA;
    font-weight: 50;
}

.form-group label {
    font-size: 1rem;
    font-family: Poppins;
    font-size: 22px;
    color: #5E5B5B;
    padding: 10px;
}

.form-group1 label {
    font-size: 1rem;
    font-family: Poppins;
    font-size: 22px;
    color: #5E5B5B;
    padding: 10px;
}

.form-group1{
    margin-top: 0px;
}

.form-group .total-days {
    color: #0A1C14;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

.form-group .days {
    color: #0A1C14;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    padding: 0%;
}

.form-group .archievement {
    color: #4DB6AC;
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding:0%;
}

.LoginText {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.LoginText label {
    font-family: Poppins;
}

.LoginText .first-text {
    color: #0A1C14;
    font-size: 48px;
}
.LoginText .second-text {
    color: #0A1C14;
    font-size: 24px;
    font-style: italic;
    color: #000000;
    padding-top: 15px;
}

.LoginText u {
    color: #4DB6AC;
}

.button-container {
    text-align: center;
}

.button-container button {
    
    color: #FAF9F6;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    height: 63px;
    width: 300px;
}

.button-container .save-changes {
    background-color: #4DB6AC;
    cursor: pointer;

    background-position: right;
    background: linear-gradient(to left, #EEEEEE 50%, #4DB6AC 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: 0.4s ease-in-out;
}

.button-container .save-changes:hover {
    background-color: #EEEEEE;
    color: #4DB6AC;
    font-weight: 500;
    cursor: pointer;

    background-position: right;
}

.button-container .cancel-deleting {
    background-color: #EEEEEE;
    color: #4DB6AC;

    background-position: right;
    background: linear-gradient(to left, #4DB6AC 50%, #EEEEEE 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: 0.4s ease-in-out;
}

.button-container .cancel-deleting:hover {
    background-color: #EEEEEE;
    color: #EEEEEE;
    font-weight: 400;
    cursor: pointer;

    background-position: right;
}

.button-container .delete-account {
    background-color: #EEEEEE;
    color: #FF6F61;
    margin-left: 10px;

    background-position: right;
    background: linear-gradient(to left, #FF6F61 50%, #EEEEEE 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: 0.4s ease-in-out;
}

.button-container .delete-account:hover {
    background-color: #EEEEEE;
    color: #EEEEEE;
    font-weight: 400;
    cursor: pointer;

    background-position: right;
}

.button-container .delete-account-confirm {
    background-color: #FF6F61;
    color: #EEEEEE;
    margin-left: 10px;

    background-position: right;
    background: linear-gradient(to left, #EEEEEE 50%, #FF6F61 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: 0.4s ease-in-out;
}

.button-container .delete-account-confirm:hover {
    background-color: #EEEEEE;
    color: #FF6F61;
    font-weight: 400;
    cursor: pointer;

    background-position: right;
}

@media (max-width: 1200px) {
    .corners {
        flex-direction: column;
        gap: 2rem;
        height: auto;

        padding: 2rem 1rem;
    }

    .Logo {
        padding-left: 0;
    }

    .Logo label {
        font-size: 2.5rem;
    }

    .form-group input {
        width: 100%;
        max-width: 100%;
    }

    .Form-container {
        padding: 1rem;
        gap: 1rem;
    }

    .button-container button {
        width: 100%;
    }


}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
}

.centered-add-transaction {
  background-color: #FF6F61;
  width: 100%;
  max-width: 1077px;
  border-radius: 8px;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corners-add-transaction {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FAF9F6;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  gap: 2rem;
}

  .corners-add-transaction .closeMenu {
    position: absolute;
    background-color: #FF6F61;
    color: #FAF9F6;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    top: -1.15rem;
    margin-left: 2rem;
    font-size: 24px;
    height: 36px;
    width: 100%;
    max-width: 113px;

    transition: 0.4s ease-in-out;
  }

  .corners-add-transaction .closeMenu:hover {
    background-color: #FAF9F6;
    color: #FF6F61;
  }



   .Form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.confirm-text {
   margin: auto;
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  color: #1C1C1E;
}

.confirm-text strong {
  color: #FF6F61;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button-container .save-changes {
  background-color: #4DB6AC;
  color: white;
}

.button-container .delete-account {
  background-color: #EEEEEE;
  color: #FF6F61;
}

  .top-row-container, .bottom-row-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }

  .Logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  max-width: 100%;
  height: auto;
}

