<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Wallet</title>
</head>
<body>
    <div class="dynamic-name">
        <label>Creating a new <b>Wallet</b></label>
    </div>
    <div class="container">
        <div class="centered">
            <div class="corners">
                    <div class="Logo">
                        <img src="assets/icons/LogoSova.png" alt="SOVA">
                        <label>SOVA</label>
                    </div>
                        <div class="formCreateWallet">
                            
                            <form class="Form-container" (ngSubmit)="OnCreateWallet(WalletObj)">
                                <div class="form-group">
                                    <label>Wallet name</label>
                                    <input type="text" name="WalletName" required [(ngModel)]="WalletObj.WalletName" #walletName="ngModel" placeholder="Wallet name">
                                    <span *ngIf="isSubmitted && walletName.invalid" style="color: red; font-family: Poppins;">Wallet name is reqiured</span>
                                </div>
                                <div class="form-group">
                                    <label>Description (optional)</label>
                                    <input type="text" name="Description" [(ngModel)]="WalletObj.Description" placeholder="Description">
                                </div>
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="number" name="Currency" required [(ngModel)]="WalletObj.Currency" #currency="ngModel" placeholder="Amount">
                                    <span *ngIf="isSubmitted && currency.invalid" style="color: red; font-family: Poppins;">Amount is reqiured</span>
                                </div>
                                 <div class="form-group">
                                    <label>Currency</label>
                                     <select name="WalletCurrency" required [(ngModel)]="WalletObj.WalletCurrency" #currency="ngModel">
                                        <option value="" disabled>Choose currency</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="PLN">PLN</option>
                                    </select>
                                    <span *ngIf="isSubmitted && currency.invalid" style="color: red; font-family: Poppins;">Currency is reqiured</span>
                                </div>
                                <div class="button-container">
                                    <button type="submit">Create my wallet</button>
                                </div>
                            </form>
                           
                        </div>            
            </div>
        </div>
    </div>

</body>
</html>