<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    
    <div class="container">
        <div class="centered">
            <div class="corners">
                    <div class="Logo">
                        <img src="assets/icons/LogoSova.png" alt="SOVA">
                        <label>SOVA</label>
                    </div>
                        <div class="formLogin">
                            <div class="LoginText">
                                <label class="first-text"><b> Sign Up</b> to Sova!</label>
                                <label class="second-text">Have an account? <u>Login here!</u></label>
                            </div>
                            <form class="Form-container">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label>E-mail address</label>
                                    <input type="text" placeholder="E-mail address">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="text" placeholder="Confirm Password">
                                </div>
                            </form>
                            <div class="button-container">
                                <button>Create my account</button>
                            </div>
                        </div>            
            </div>
        </div>
    </div>

</body>
</html>