
.dynamic-name {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 15vw ;
    
}
.dynamic-name label {
    font-family: Poppins;
    font-size: 3.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}   

.corners {
    position: relative;
    display: flex; 
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
    height: 756px;
    flex-direction: column;
    background-color: #FAF9F6;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    box-sizing: border-box;
}

.centered {
    background-color: #4DB6AC;
    width: 100%;
    max-width: 1400px;
    height: auto;
    border-radius: 8px;
    display: flex;
    padding: auto;
}


.wallets {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0%;
  }

.add-wallet {
    background-color: #4DB6AC;
    color: #FAF9F6;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 3.5rem;
    width: 100%;
    max-width: 180px;
  }

  .last-transactions {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }


  .add-transaction {
    background-color: #4DB6AC;
    color: #FAF9F6;
    border: 0;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
    font-family: Poppins;
    margin-top: 1rem;
    font-size: 24px;
    height: 63px;
    width: 100%;
    max-width: 240px;
  }


  .bottom-text {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    font-family: Poppins;
    color:#4DB6AC;
  }

  .text1 {
    font-family: Poppins;
    font-size: 3rem ;
  }

  .text2 {
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: italic;
  }


  .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 1000;
  }

  .centered-add-transaction {
    background-color: #5C6AC4;
    width: 100%;
    max-width: 1077px;
    height: auto;
    border-radius: 8px;
    display: flex;
    padding: auto;
  }

  .corners-add-transaction {
    position: relative;
    display: flex; 
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1077px;
    height: 382px;
    flex-direction: column;
    background-color: #FAF9F6;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    box-sizing: border-box;
    overflow: visible;
  }

  .corners-add-transaction .closeMenu {
    position: absolute;
    background-color: #FF6F61;
    color: #FAF9F6;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    top: -1.15rem;
    margin-left: 2rem;
    font-size: 24px;
    height: 36px;
    width: 100%;
    max-width: 113px;
  }



   Form {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .top-row-container, .bottom-row-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }

  .category {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    font-family: Poppins;
    font-size: 22px;
  }

  .date {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 22px;
  }

  .amount {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    font-family: Poppins;
    font-size: 22px;
  }

  .currency {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Poppins;
    font-size: 22px;
  }

  .category select {
    background-color: #FAF9F6;
    padding: 10px;
    width: 30rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 3px solid #EEEEEE;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
  }

  .date input {
    background-color: #FAF9F6;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
    border-radius: 8px;
    border: 3px solid #EEEEEE;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
  }

  .amount input {
    background-color: #FAF9F6;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
    border-radius: 8px;
    border: 3px solid #EEEEEE;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
  }

  .currency select {
    background-color: #FAF9F6;
    padding: 10px;
    width: 15rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 3px solid #EEEEEE;
    background-color: #FAF9F6;
    font-family: Poppins;
    font-size: 24px;
    font-style: italic;
  }

  .bottom-row-container button {
    background-color: #4DB6AC;
    color: #FAF9F6;
    border: 0;
    border-radius: 8px;
    text-align: center;
    font-family: Poppins;
    margin-top: 2rem;
    font-size: 24px;
    height: 63px;
    width: 100%;
    max-width: 280px;
  }



  /* Адаптивні стилі */
@media (max-width: 1024px) {
  /* Зменшення ширини для середніх екранів */
  .category select,
  .currency select {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  /* Для екранів середнього розміру */
  .category select,
  .currency select {
    width: 100%; /* Створення адаптивних селектів */
  }

  .category,
  .date,
  .amount,
  .currency {
    font-size: 18px; /* Зменшення шрифтів */
  }

  .bottom-row-container button {
    font-size: 20px; /* Зменшення шрифтів кнопок */
    height: 50px;
    max-width: 200px; /* Зменшення розміру кнопки */
  }
}

@media (max-width: 480px) {
  /* Для мобільних екранів */
  .category select,
  .currency select {
    width: 100%;
    font-size: 16px; /* Зменшення розміру шрифтів */
  }

  .category,
  .date,
  .amount,
  .currency {
    font-size: 16px; 
    padding-right: 10px;
  }

  .bottom-row-container button {
    font-size: 18px; 
    max-width: 100%;
    height: 45px; 
  }
}

