<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="support-help-form-overlay.component.css">
    <title>Account Overview</title>
</head>
<body>
    <div class="overlay">
    <div class="centered-add-transaction">
      <div class="corners-add-transaction">
        <button class="closeMenu" (click)="closeMenu()">Close</button>
  
        <div class="Form-container">
          <h1>
            Help
          </h1>
          <div class="form-group1">
            <div class="form-field">
                <label for="name">Your Name</label>
                    <input id="name" placeholder="Your Name" />
            </div>
          <div class="form-field">
            <label for="problem">Describe your Problem</label>
                <input id="problem" placeholder="Describe your Problem" />
          </div>
        </div>

          <div class="form-bottom-row">
             <div class="button-container">
                 <button class="send-button" type="button">Send</button>
             </div>

                <div class="contact-info">
                    <p class="contact-via">Contact us via</p>
                    <p class="call-email">calling <label class="contact">78 123 90 00</label> </p>
                    <p class="call-email">email <label class="contact">sova&#64;support.com</label> </p>
                </div>
        </div>

        </div>
        
      </div>
    </div>
  </div>
  </body>