<div class="transaction-card">
  
    <div class="category">
      <img [src]="getCategoryIcon(transaction.categoryID)" alt="Category Icon">
      <span style="font-weight: lighter; font-size: 24px; margin-left: 20px;">{{ getCategoryName(transaction.categoryID) }}</span>
    </div>
  
    <div class="date" style="flex-grow: 1; text-align: center; font-size: 24px; font-weight: lighter; font-style: italic; color: #BABABA;">
      {{ transaction.date | date:'mediumDate' }}
    </div>
  
    <div class="amount-edit" style="width: 200px; display: flex; justify-content: flex-end; align-items: center;">
        <span
          [style.color]="transaction.categoryID === 3 ? 'green' : 'red'"
          style="margin-right: 20px; font-weight: bold; font-size: 20px;">
          {{ transaction.categoryID === 3 ? '+' : '-' }}{{ transaction.amount }} {{ transaction.currency }}
        </span>
        
        <button (click)="editTransaction()" style="background: none; border: none; cursor: pointer; font-size: 20px;">
          ⋮
        </button>
        <button (click)="deleteTransaction()" style="background: none; border: none; cursor: pointer; font-size: 20px;">🗑</button>

      </div>
    
  </div>
  