<div class="dynamic-name">
    <label>Welcome Back, <b>walletName</b></label>
</div>
<div class="container">
  <div class="centered">
    <div class="corners">
      <div class="dashboard">
        <section class="balance-section">
          <label>Current <strong>Balance</strong></label>
          <p class="balance-amount">100.00 $</p>
          <button class="btn-add-transaction">Add Transaction</button>
        </section>

        <section class="period-section">
          
          <div class="date-filter">
            <label>Period <strong>Info</strong></label>
            <input type="text" placeholder="22/02/2025 - 22/04/2025" />
            <button class="btn-apply">Apply period</button>
          </div>

          <div class="stats-grid">
            <div class="stat-item">
                <img width="35" height="35" src="assets/icons/income.svg">
                <strong>Total income</strong>
                <p class="positive">+3500.00 $</p>
            </div>
            <div class="stat-item">
                 <img width="35" height="35" src="assets/icons/expenses.svg">
                <strong>Total expenses</strong>
                <p class="negative">-1838.42 $</p>
            </div>
            <div class="stat-item">
                 <img width="35" height="35" src="assets/icons/change.svg">
                <strong>Total change</strong>
                <p class="positive">+1661.58 $</p>
            </div>
            <div class="stat-item">
                 <img width="35" height="35" src="assets/icons/balance.svg">
                <strong>Total balance</strong>
                <p class="positive">+1542.18 $</p>
            </div>
          </div>
        </section>

        <section class="charts">
          <div class="chart-box">
             <img width="35" height="35" src="assets/icons/income.svg">
            <h3> Total income</h3>
            <div class="placeholder-bar">[Bar Chart]</div>
          </div>
          <div class="chart-box">
             <img width="35" height="35" src="assets/icons/income.svg">
            <h3>Total income</h3>
            <div class="placeholder-pie">Income 100%</div>
          </div>
          <div class="chart-box">
             <img width="35" height="35" src="assets/icons/expenses.svg">
            <h3>Total expenses</h3>
            <div class="placeholder-bar">[Bar Chart]</div>
          </div>
          <div class="chart-box">
             <img width="35" height="35" src="assets/icons/expenses.svg">
            <h3>Total expenses</h3>
            <ul class="expenses-pie">
              <li><span style="color: #f87171;">🍽 Food</span> 50%</li>
              <li><span style="color: #34d399;">🏥 Healthcare</span> 25%</li>
              <li><span style="color: #fbbf24;">✈️ Travel</span> 25%</li>
            </ul>
          </div>
           
        </section>
        <label class="last-transactions-text">Your <strong>Last Transactions</strong></label>
        <div class="transactions-container">
            <div class="transaction-row" >
                <!-- <img [src]="getCategoryImage(transaction.category, isActiveCategory(transaction.category) ? 'violet' : 'green')"/> -->
                <span class="transaction-title">category</span>
                <span class="transaction-date">date</span>
                <span class="transaction-amount" >amount</span>
            </div>
            <button class="show-more-transactions" >Show More</button>
        </div>
      </div>
    </div>
  </div>
</div>
